{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Destin || HTML 5 Template</title>

<!-- Stylesheets -->
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "css/responsive.css" %}" rel="stylesheet">
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

</head>

<!-- page wrapper -->
<body class="boxed_wrapper">


    <!-- .preloader -->
    <!-- /.preloader -->


    <!-- Main Header -->
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 logo-column">
                        <h2 style="color: white; padding-top: 10%;">RJF Interior</h2>
                        <!-- <figure class="logo-box">
                            <a href="index.html"><img src="images/logo.png" alt=""></a>
                        </figure> -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 menu-column">
                        <div class="menu-area">
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->      
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'tentang_kami' %}">Tentang Kami</a></li>
                                        <li><a href="{% url 'gallery' %}">Galeri</a></li>                     
                                        <li><a href="{% url 'contact' %}">Kontak</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container">
                <div class="header-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 logo-column">
                            <h2 style="color: white; padding-top: 10%;">RJF Interior</h2>
                            <!-- <figure class="small-logo-box">
                                <a href="index.html"><img src="images/small-logo.png" alt=""></a>
                            </figure> -->
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 menu-column">
                            <div class="menu-area">
                                <nav class="main-menu navbar-expand-lg">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->      
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                        <li class="current"><a href="{% url 'tentang_kami' %}">Tentang Kami</a></li>
                                        <li><a href="{% url 'gallery' %}">Galeri</a></li>                     
                                        <li><a href="{% url 'contact' %}">Kontak</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
    </header>
    <!-- End Main Header -->


    <!-- page-title -->
    <section class="page-title centred" style="background-image: url(/static/images/b4.jpg);">
        <div class="container">
            <div class="content-box"><h2>Tentang Kami</h2></div>
        </div>
    </section>
    <!-- page-title end -->



    <!-- who-we-are -->
    <section class="who-we-are centred">
        <div class="container">
            <h2 class="sec-title">Siapa Kami?</h2>
            <div class="title-text">
                {% for profil in profil %}
                                        {{ profil.deskripsi_perusahaan }}
                                        {% endfor %}
            </div>
        </div>
    </section>
    <!-- who-we-are end -->

        <!-- features-section -->
    <section class="features-section">
        <div class="container">
            <h2 class="sec-title centred" style="padding-bottom: 5%">Kenapa Harus RJF Interior?</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-item">
                        <div class="icon-box"><i class="fa fa-dollar"></i></div>
                        <h4>Harga Bersahabat</h4>
                        <div class="text text-justify">Desain yang kami buat dapat mengikuti budget yang anda tentukan dengan desain maksimal sesuai kebutuhan anda</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-item">
                        <div class="icon-box"><i class="fa fa-user"></i></div>
                        <h4>Designer Professional</h4>
                        <div class="text text-justify">Kami memiliki designer handal dan terampil dalam mengembangkan design</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-item">
                        <div class="icon-box"><i class="fa fa-eraser"></i></div>
                        <h4>Desain Keinginan Anda</h4>
                        <div class="text text-justify">Anda bisa menentukan desain yang anda inginkan</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-item">
                        <div class="icon-box"><i class="flaticon-shield"></i></div>
                        <h4>Berkualitas</h4>
                        <div class="text text-justify">Kami memiliki rekam jejak yang baik dan rapi</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single- item">
                        <div class="icon-box"><i class="fa fa-users"></i></div>
                        <h4>Tim yang Solid</h4>
                        <div class="text text-justify">Tim kami yang solid selam bertahun-tahun selalu menampilkan hasil yang memuaskan</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="single-item">
                        <div class="icon-box"><i class="fa fa-angellist"></i></div>
                        <h4>Layanan Bersahabat</h4>
                        <div class="text text-justify">Kami siap melayani anda, kepuasan anda adalah kepuasan kami.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features-section end -->


    <!-- fact-counter -->
    <section class="fact-counter centred" style="background-image: url(/static/images/background/counter.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="single-counter-content">
                        <div class="content-box">
                            <article class="column wow fadeIn" data-wow-duration="0ms">
                                <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="21">0</span></div>
                            </article>
                            <div class="text">Proyek terakhir/tahun</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="single-counter-content">
                        <div class="content-box">
                            <article class="column wow fadeIn" data-wow-duration="0ms">
                                <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="180">0</span></div>
                            </article>
                            <div class="text">Kepuasan klien</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="single-counter-content">
                        <div class="content-box">
                            <article class="column wow fadeIn" data-wow-duration="0ms">
                                <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="150">0</span></div>
                            </article>
                            <div class="text">Proyek Tuntas</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 counter-column">
                    <div class="single-counter-content">
                        <div class="content-box">
                            <article class="column wow fadeIn" data-wow-duration="0ms">
                                <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="30">0</span></div>
                            </article>
                            <div class="text">Pekerja terbaik</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fact-counter -->


    <!-- our-agent -->

    <!-- our-agent end -->

        <!-- testimonial-section -->
     <section class="testimonial-section sec-pad centred" style="background-image: url(static/images/b3.jpg);">
        <div class="container">
            <h2 class="sec-title" style="padding-bottom: 5%">Testimoinal</h2>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2">
                    <div class="testimonial-slider">
                        {% for profil in profil %}
                        <div class="testimonial-content">
                            <div class="author-info">
                                <h4> {{ profil.nama_dan_pekerjaan }} </h4>
                                <h6 style="color: #c4c413"> {{ profil.project_dan_asal }} </h6>
                            </div>
                            <div class="text">
                                {{ profil.komentar }}
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-info">
                                <h4> {{ profil.nama_dan_pekerjaan2 }} </h4>
                                <h6 style="color: #c4c413"> {{ profil.project_dan_asal2 }} </h6>
                            </div>
                            <div class="text">
                                {{ profil.komentar2 }}
                            </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-info">
                                <h4> {{ profil.nama_dan_pekerjaan3 }} </h4>
                                <h6 style="color: #c4c413"> {{ profil.project_dan_asal3 }} </h6>
                            </div>
                            <div class="text">
                                {{ profil.komentar3 }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section><!-- testimonial-section end -->


    <!-- main-footer -->
     <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="about-widget footer-widget">
                        <div class="footer-title"><h4>RJF Interior</h4></div>
                        <div class="text" style="text-align: justify;">
                            {% for profil in profil %}
                                        {{ profil.deskripsi_perusahaan }}
                                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="footer-post footer-widget">
                        <div class="footer-title"><h4>Temukan Kami</h4></div>
                        <div class="contact-info">
                            <div class="single-item">
                                <div class="icon-box"><i class="fa fa-phone"></i>
                                {% for profil in profil %}
                                        {{ profil.no_hp }}
                                        {% endfor %}</div>
                            </div>
                            <div class="single-item">
                                <div class="icon-box">
                                    <ul>
                                        <li> <span><i class="fa fa-map-marker"></i></span>
                                        {% for profil in profil %}
                                        {{ profil.alamat }}
                                        {% endfor %}

                                        </li>
                                    </ul>                                
                                </div>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="fa fa-envelope"></i>{% for profil in profil %}
                                        {{ profil.email }}
                                        {% endfor %}</div>
                            </div>
                        </div>
                        <ul class="footer-social">
                            {% for profil in profil %}
                            <li><a href="
                            {{ profil.facebook }}
                            "><i class="fa fa-facebook"></i>
                            </a></li>
                            <li><a href="
                            {{ profil.twitter }}
                            "><i class="fa fa-twitter"></i>
                            </a></li>
                            <li><a href="
                            {{ profil.instagram }}
                            "><i class="fa fa-instagram"></i>
                            </a></li>
                            <li><a href="
                            {{ profil.google_plus }}
                            "><i class="fa fa-google-plus"></i>
                            </a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 footer-widget">
                    <div class="link-widget footer-widget">
                        <div class="footer-title"><h4>USEFULL LINKS</h4></div>
                        <ul class="list">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
     <!-- main-footer end -->




    <!-- footer-bottom -->
    <div class="footer-bottom centred">
        <div class="container">
            <div class="copyright"><a href="templatespoint.net">Supported By : Pastel Programmer</a></div>
        </div>
    </div>
    <!-- footer-bottom end -->


<!--Scroll to top-->
<div class="scroll-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>



<!--jquery js -->
<script type="text/javascript" src="{% static "js/jquery-2.1.4.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/wow.js" %}"></script>
<script src="{% static "js/validation.js" %}"></script>
<script src="{% static "js/jquery.fancybox.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZQiiFTOGpm2qHVZmZY1s-aEnmHDhqKgk"></script>
<script src="{% static "js/isotope.js" %}"></script>
<script src="{% static "js/gmaps.js" %}"></script>
<script src="{% static "js/map-helper.js" %}"></script>

<!-- main-js -->
<script src="{% static "js/script.js" %}"></script>

</body><!-- End of .page_wrapper -->

</html>
